<div class="tickets">
  <h1>Ticket ID : <%= @ticket['id']%></h1>

  <h3>Subject</h3>
  <p><%= @ticket['subject'] %></p>

  <h3>Description</h3>
  <p><%= @ticket['description'] %></p>

  <a href="/tickets?page=1">Back</a>

</div>